
.imgContainer {
  width: 600px;
  height: 400px;
  position: relative;
}

.img {
  object-fit: cover;
}

.imgText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 5px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.textContainer {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.item {
  flex: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}
